<div class="container p-4">
    <div class="container text-center my-auto">
        <h1 class="mb-5">
            <em style="color:#FFFFFF">Tus Kilometros Corridos {{name}} en el partido {{Descrip}}</em>
        </h1>
    </div>
<table class="table table-striped " style="background-color:#FFFFFF">
  <thead class="thead-dark" style="background-color:#292b2c; color:#FFFFFF" >
    <tr>
      <th scope="col">Kilometros Recorridos</th>
    </tr>
  </thead>
  <tbody>
        <tr>
            <td>{{Dist}}(KM)</td>
        </tr>
  </tbody>
</table>
</div>