<main class="index" style="overflow: hidden;"> 
    <header>
        <div class="container text-center my-auto" >
            <h1 class="mb-1"></h1>
            <div class="container col-md-8">
                <div class="col-md-6 px-0 mx-auto " >
                    <img src="/img/logo.png" alt="Logo DC" class="m-2 img-fluid">   
                </div>
            </div>
            <h2 class="mb-5" style="color:#000000">
                <em>La salud es la relación entre tú y tu cuerpo</em>
            </h2>
            <a class="btn btn-danger btn-lg cardiac-btn" href="/register">
                Revisa tus resultados!
            </a>
        </div>
        <div class="overlay"></div>
    </header>
</main>