<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card text-center">
                <div class="card-body">
                    <h3>Welcome {{user.Fullname}}</h3>
                    <h4>{{user.Username}}</h4>
                    <div class="col-md-8 px-0 mx-auto " >
                    <img src="/img/{{user.Id_Rol}}.JPG" alt="Logo DC" class="m-2 img-fluid">   
                </div>
                </div>
            </div>
        </div>
    </div>
</div>
